{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
  <link rel="stylesheet" href='{% static "bootstrap-4.3.1-dist/css/bootstrap.min.css" %}'>
  <script src='{%static "bootstrap-4.3.1-dist/js/bootstrap.min.js" %}'></script>
  <link rel="stylesheet" href='{% static "sikantin.css" %}'>
  <style type="text/css">
    .bg-cover {
      background-image: url("/static/Photos/Menu.png");
    }
  </style>
</head>

<body class="basic-page">
  <div class="menus bg-cover">
    <div class="container">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href='{% url "landing" %}'>SiKantin</a>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a id="nav-link">Menu</a>
          </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
            <form class="form-inline navbar-form navbar-right" action="{% url 'search_results' %}" method="get">
              {% csrf_token %}
              {{search_form}}
            </form>
          </li>
        </ul>
      </nav>
    </div>
    <br><br>

    <div class="container-fluid">
      <h2 class="best_seller">Best Seller</h2>
      <div class="row">
        {%for food in recommendations%}
        <div class="col-md-4 m-3">
          <div class="card mb-3" style="width: 30rem;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{% static 'Photos/Wallpaper 14.jpg' %}" class="card-img-top" alt="food">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{food.name}}</h5>
                  <p class="card-text">Toko: @{{food.merchant}}</p>
                  <p class="card-text">Harga: Rp.{{food.price}},-</p>
                  <p class="card-text">Kalori: {{food.calories}}</p>
                  <a href="{%url 'increment' food.food_id%}" class="add_cart">Tambah ke Keranjang</a>
                </div>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="container-fluid">
    <h2 class="list">Daftar Makanan</h2>
    <hr>
    <div class="row">
      {%for food in first_half%}
      <div class="col-6">
        <div class="card mb-3" style="width: 30rem;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{% static 'Photos/Wallpaper 13.jpg' %}" class="card-img-top" alt="food">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{food.name}}</h5>
                <p class="card-text">Toko: @{{food.merchant}}</p>
                <p class="card-text">Harga: Rp. {{food.price}},-</p>
                <p class="card-text">Kalori: {{food.calories}}</p>
                <a href="{%url 'increment' food.food_id%}" class="add_cart">Tambah ke Keranjang</a>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>

      <br><br><br><br>

      <div class="row ml-5">
        {%for food in second_half%}
        <div class="col-md-4 m-3">
          <div class="card mb-3" style="width: 30rem;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{% static 'Photos/Wallpaper 16.jpg' %}" class="card-img-top" alt="food">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{food.name}}</h5>
                  <p class="card-text">Toko: @{{food.merchant}}</p>
                  <p class="card-text">Harga: Rp. {{food.price}},-</p>
                  <p class="card-text">Kalori: {{food.calories}}</p>
                  <a href="{%url 'increment' food.food_id%}" class="add_cart">Tambah ke keranjang</a>
                </div>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>
      </div>
    </div>
  </div>

  <br><br><br><br><br><br>

  <div class="d-flex justify-content-center mr-3">
    <a href="{%url 'new_order'%}" class="btn btn-md btn-warning">Pesan</a>
  </div>
</body>
