{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <link rel="stylesheet" href='{% static "bootstrap-4.3.1-dist/css/bootstrap.min.css" %}'>
  <script src='{% static "bootstrap-4.3.1-dist/js/bootstrap.min.js" %}'></script>
  <link rel="stylesheet" href='{% static "sikantin.css" %}'>
  <style type="text/css">
    .bg-cover {
      background-image: url("/static/Photos/Landing.png");
    }
  </style>
</head>

<body class="basic-page">
  <div class="jumbotron bg-cover">
    <div class="container">
      <h4 class="welcome">SELAMAT DATANG DI</h4>
      <h1 class="display-2 mb-3" id="">SiKantin</h1>
      <p class="desc">Kamu lapar tapi malas ngantri? Mau nyicip makanan murah kantin Fasilkom UI, tapi males keluar? Pakai SiKantin saja </p>
      <a id="buttonmenu" href='{% url "home" %}' role="button" class="btn btn-outline-warning">Pesan Sekarang</a>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 mx-auto">
        <h3>Ingin Tahu</h3>
        <h2>Tentang Kami?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>SiKantin adalah website sistem informasi Kantin Fasilkom UI. Ide ini muncul karena <strike>diminta kak pewe</strike> kantin Fasilkom kian hari makin padat terutama ketika jam makan siang. Hal tersebut dapat merugikan elemen Fasilkom yang mungkin tidak mempunyai banyak waktu untuk melakukan isoma.</p>
      </div>
    </div>
  </div>

</body>
</html>