/* Background image */
.jumbotron {
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-shadow: 2px 2px #000;
  }
  /*
  .lead  {
    color: white;
    font-size: 0.25em;
  }*/
  .button-lg{
    mix-blend-mode: luminosity;
  }
  .jumbotron {
    background-size: cover;
    color: white;
    background-position: center center;
    background: 
    /* top, transparent red */ 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    )
    
  }


   .welcome{
    font-size:0.5 em;
    color: #D9AC52;

  }

  .overlay{
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
}

 .btn-md{
    font-size: 3em;
    border-radius: 5em;
    width:60%;    //Specify your width here
 }
