<html lang="en">
  <head>
    {% load static %} {% load crispy_forms_tags %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amount</title>
    <link
      rel="stylesheet"
      href='{% static "bootstrap-4.3.1-dist/css/bootstrap.min.css" %}'
    />
    <script src='{%static "bootstrap-4.3.1-dist/js/bootstrap.min.js" %}'></script>
    <!--<link rel="stylesheet" href='{% static "main.css" %%}'> -->
    <!-- <link rel="stylesheet" href="main.css"> -->
    <style>
        body > #c {
            background-image: url('{% static "Photos/Amount.png" %}');
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
        }
    </style>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="#">SiKantin</a>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link">Pemesanan</a>
          </li>
        </ul>
      </nav>
    </div>
    <div
      class="d-flex justify-content-center" id="c"
    >
      <h2><br /><br /><br />Mau Pesan Berapa Banyak?<br /><br /><br /></h2>
    </div>
    <div class="container">
      {%for item in query%}
      <div class="row mt-5">
        <div class="col-6">
          <p>{{ item.attr.name }}</p>
        </div>
        <div class="col-5">
          <form
            action="{%url 'set_amount' item.curr_id item.attr.food_id%}"
            method="post"
          >
            {% csrf_token %}
            {{ amount_form | crispy }}
            <button type="Amount" class="btn btn-success">Save</button>
          </form>
        </div>
      </div>
      {%endfor%}
    </div>
    <div class="d-flex justify-content-end mr-5">
      <a class="btn btn-md btn-warning" href="/kalori/">Lanjut</a>
    </div>
  </body>
</html>
