@font-face {
    font-family: 'adam.cg_proregular';
    src: url('/static/Fonts/adam.cg_pro-webfont.woff2') format('woff2'),
         url('/static/Fonts/adam.cg_pro-webfont.woff') format('woff');
}
@font-face {
    font-family: 'silhouettoregular';
    src: url('/static/Fonts/silhouetto-regular-webfont.woff2') format('woff2'),
         url('/static/Fonts/silhouetto-regular-webfont.woff') format('woff');
}

h2 {
  font-family: "Verdana";
  font-size: 40px;
  font-weight: bold;
  color: #D9AC52;
}
.bg_kalori {
  float: right;
  height: 65vh;
  width: 30vw;
  filter: brightness(0.5);
}
.btn-warning {
  background-color: #D9AC52;
  border-color: #D9AC52;
  color: white;
  float: right;
}
