{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Kalori</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load crispy_forms_tags %}
    <link rel="stylesheet" href='{% static "bootstrap-4.3.1-dist/css/bootstrap.min.css" %}'>
    <script src='{% static "bootstrap-4.3.1-dist/js/bootstrap.min.js" %}'></script>
    <link rel="stylesheet" href='{% static "kalori.css" %}'>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <a class="navbar-brand" href="#">SiKantin</a>
            <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link">Kalori</a>
            </li>
            </ul>
        </nav>
    </div>
    <br><br><br><br>
    <div class="d-flex justify-content-center">
        <h2>Yuk, Cek Kalori Makanan Pesanan Anda Di Sini!</h2>
    </div>
    <div class="container">
        <img class="bg_kalori" src="{% static 'Photos/Kalori.jpg' %}">
        <form action="{% url 'get_kalori' %}" method="POST">
            <div class="form-group">
                {% csrf_token %}
                <div class="row mt-5">
                    <div class="col-12">
                        {{ form.age|as_crispy_field}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ form.gender|as_crispy_field}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ form.activity|as_crispy_field}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <button type="submit" class="btn btn-outline-success">Simpan</button>
                </div>
                <div class="col-6">
                    <a class="btn btn-md btn-warning" href="/pembayaran/">Lanjut</a>
                </div>
            </div>
        </form>
    </div>
</body>
