<html>
<head>
    <title>Pembayaran</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    {% load crispy_forms_tags %}
    <link rel="stylesheet" href='{% static "bootstrap-4.3.1-dist/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href="{% static 'pembayaran.css' %}">
    <script src='{% static "bootstrap-4.3.1-dist/js/bootstrap.min.js" %}'></script>
    <style>
        body {
            background-image: url('{% static "Photos/Pembayaran.png" %}');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
     <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <a class="navbar-brand" href="#">SiKantin</a>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link">Pemesanan</a>
                </li>
            </ul>
        </nav>
    </div>
    <br><br><br><br><br><br>
    <div class="container">
        <div class="d-flex justify-content-center">
            <h2>Data Pemesan</h2>
        </div>    
        <form action="{%url 'submit_form'%}" method="POST">
            <div class="form-group">
                {% csrf_token %}
                <div class="row mt-5">
                    <div class="col-6">
                        {{ form.payment|as_crispy_field}}
                        {{ form.delivery|as_crispy_field}}
                    </div>
                    <!-- <div class="col-6">
                    </div> -->
                </div>
                <div class="row mt-5">
                    <div class="col-6">
                        {{ form.name|as_crispy_field}}
                    </div>
                    <div class="col-6">
                        {{ form.date|as_crispy_field}}
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-6">
                        {{ form.address|as_crispy_field}}
                    </div>
                    <div class="col-6">
                        {{ form.phone_number|as_crispy_field}}
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-6" id="div_button_save">
                    <button type="submit" class="btn btn-md btn-outline-success">Simpan</button>
                </div>
                <div class="col-6" id="div_button_next">
                    <a class="btn btn-md btn-outline-warning" style="float: right; margin-right: 1vw;" href="{%url 'summary'%}">Lanjut</a>
                </div>
            </div>
        </form> 
    </div>
</body>
