<html>
<head>
    <title>Pembayaran</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    {% load crispy_forms_tags %}
    <link rel="stylesheet" href='{% static "bootstrap-4.3.1-dist/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href="{% static 'pembayaran.css' %}">
    <script src='{% static "bootstrap-4.3.1-dist/js/bootstrap.min.js" %}'></script>
    <style>
        body {
            background-image: url('{% static "Photos/Pembayaran.png" %}');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
     <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <a class="navbar-brand" href="#">SiKantin</a>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link">Pemesanan</a>
                </li>
            </ul>
        </nav>
    </div>
    <br><br><br><br><br><br>
    <div class="container">
        <div class="d-flex justify-content-center">
            <h2>Data Pemesan</h2>
        </div>    
        <form action="{%url 'submit_form'%}" method="POST">
            <div class="row mt-5">
                <div class="col-12 text-center" style="color: #D9AC52;">
                    <h1 >Mohon Melengkapi Form Data Pembayaran</h1>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 text-center" id="div_button_next">
                    <a class="btn btn-md btn-outline-warning" href="/pembayaran/">Kembali</a>
                </div>
            </div>
        </form> 
    </div>
</body>
